# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Google Colab specific
*.ipynb

# CSV/Dataset files
*.csv
*.xlsx
*.json

# MacOS system files
.DS_Store

# Python virtual environments
env/
venv/
ENV/
.venv/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
